<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="i7">
	<test name="TC_001_AddRemoveCart" enabled="false">
		<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.TC_001_AddRemoveCart" />
		</classes>
	</test>

	<test name="TC_002_AddRemoveCart" enabled="false">
		<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.TC_002_AddRemoveCart" />
		</classes>
	</test>

	<test name="TC_003_AddRemoveCart" enabled="false">
		<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.TC_003_AddRemoveCart" />
		</classes>
	</test>

	<test name="DriverScript" enabled="true">
		<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.DriverScript" />
		</classes>
	</test>

</suite>
