<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="i7" >
	<test name="TC_001_AddToCart" enabled="false">
	<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.testscripts.TC_001_AddRemoveCart" />
		</classes>
	</test>
	
	<test name="TC_002_AddRemove" enabled="false">
	<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.testscripts.TC_002_AddRemove" />
		</classes>
	</test>
	
	<test name="TC_003_AddRemove" enabled="false">
	<parameter name="Browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.testscripts.TC_003_AddRemove" />
		</classes>
	</test>
	
	<test name="DriverScript">
	<parameter name="Browser" value="edge"></parameter>
		<classes>
			<class name="com.automation.testscripts.DriverScript" />
		</classes>
	</test>
</suite>
